<div class="wrap" id="adtrak-logger">
    <header class="atk-header">
		<h1>Logs</h1>
	</header>

    <form action=""  class="al-filters atk-form" method="GET">
        <div>
            <label>Filter by User</label>
            <select name="filter_user">
                <option value="">All</option>
                {% for user in users %}
                    <option {% if user.user == filters.user %}selected{% endif %} value="{{ user.user }}">{{ get_userdata(user.user).user_nicename }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label>Filter by Type</label>
            <select name="filter_type">
                <option value="">All</option>
                {% for type in types %}
                    <option {% if type.type == filters.type %}selected{% endif %}>{{ type.type }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label>&nbsp;</label>
            <button class="atk-button atk-button--orange" type="submit">Filter</button>
        </div>

        <input type="hidden" name="page" value="{{ filters.page }}">
    </form>

	{% if logs is not empty %}
	<table class="atk-table atk-table__logger">
		<thead>
			<tr>
                <th class="al-th__date">Date</th>
                <th>User</th>
                <th class="al-th__ip">IP</th>
				<th class="al-th__type">Type</th>
				<th>Details</th>
			</tr>
		</thead>
		<tbody>
			{% for log in logs %}
                <tr>
                    <td class="al-th__date">
                        <b>{{ log.created_at|date("g:ia") }}</b><br>
                        {{ log.created_at|date("m/d/Y") }}
                    </td>
                    <td>{{ get_userdata(log.user_id).user_nicename }}</td>
                    <td>{{ log.ip }}</td>
                    <td class="al-th__type">{{ log.type }}</td>
                    <td>{{ log.description|raw }}</td>
                </tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}

	{{ pagination|raw }}
</div>
